.wd-explore h2, .wd-explore h3, .wd-explore p {
    font-size: 13px;
}

.wd-searchbar {
    display: inline-block;
    border-radius: 8px;
    background-color: rgb(110,118,125);
    color: black;
    width: calc(100% - 50px);
}

.wd-searchbar input {
    width: calc(100% - 36px);
    background-color: rgb(110,118,125);
    border-style: none;
    height: 48px;
}

.wd-searchbar input::placeholder {
    color: black;
}

.wd-searchbar i {
    width: 36px;
}

.wd-explore .wd-settings-icon {
    height: 28px;
}
.wd-explore .nav-tabs {
    font-size: 14px;
}

.wd-tuit {
    border-color: rgb(100,118,125);
    border-width: 1px;
    border-top-style: solid;
    min-height: 100px;
}

.wd-tuit img {
    width: 100px;
    height: 100px;
}

.wd-follow-block li {
    border-style: solid;
    border-color: rgb(100,118,125);
    border-width: 1px 2px;
    width: 100%;
    height: 58px;
}

.wd-follow-block li:nth-child(1) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-width: 2px;
}

.wd-follow-block li:nth-last-child(1) {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 2px;
}

.wd-follow-block li>* {
    display: inline-block;
}

.wd-follow-block h2, .wd-follow-block p {
    font-size: 12px;
    margin: 0;
}

.wd-follow-block button {
    height: 36px;
    border-style: none;
    border-radius: 16px;
    background-color: rgb(29,161,242);
    color: white;
}

.wd-explore .card {
    border-radius: 0;
    background-color: inherit;
    border-style: solid;
    border-width: 1px 2px;
    border-color: rgb(47,51,54);
}

.wd-explore .card-img-top {
    border-radius: 0;
}

.wd-explore .card-img-overlay {
    color: black;
}

.wd-tuit img {
    border-radius: 4px;
}