.wd-tuiter {
    background-color: black;
    border-color: rgb(47,51,54);
    color: white;
}

.wd-tuit h1 {
    font-size: 20px;
    font-weight: bold;
}
.wd-tuit h2 {
    font-weight: bold;
}
.wd-tuit h3 {
    font-weight: normal;
}
.wd-tuit p {
    color: rgb(110,118,125);
}

.wd-top-bar {
    top: 0;
}

.wd-row {
    width: 100%;
    padding-bottom: 16px;
    position: relative;
}

.wd-float-right {
    position: absolute;
    right: 0;
    top: 0;
}

img {
    object-fit: cover;
}

img.wd-profile-img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

li {
    list-style: none;
}

.wd-who-to-follow-list h1 {
    font-size: 16px;
    font-weight: bold;
}

.wd-who-to-follow-list li {
    padding: 0 10px;
    width: 100%;
    height: 58px;
    background-color: var(--bs-list-group-bg);
}

.wd-who-to-follow-list li:nth-child(1) {
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wd-who-to-follow-list li:nth-last-child(1) {
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wd-who-to-follow-list li>* {
    display: inline-block;
}

.wd-who-to-follow-list h2, .wd-who-to-follow-list p {
    font-size: 12px;
    margin: 0;
}

.wd-who-to-follow-list button {
    height: 36px;
    border-style: none;
    border-radius: 16px;
    background-color: rgb(29,161,242);
    color: white;
}